<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weatherpc.png">
</head>

<body>
    <div class="index">


{{>header}}
<p>This site uses data from mapbox and weathertsack to collect the info from the api</p>

<img class='potrait' src=/img/pxx.jpg>




    </div>




{{>footer}}


</body>









</html>