<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/styles.css">

<link rel="icon" href="/img/weatherpc.png">

</head>

<body>
    <div class="index">
       {{>header}} 
<h1>{{help}}</h1>
<p><b>This is the help of the site</b></p>

</div>

{{>footer}}

</body>


</html>